@font-face {
    font-family: "Garamond Regular";
    src: url("../fonts/EBGaramond-Regular.woff");
    font-display: swap;
    font-style: normal;
    font-weight: 400;
  }

.noscript {
    position: absolute;
    z-index: 120;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgb(235, 213, 200);
    
}

.noscript__text {
    color: rgb(52, 58, 50);
    text-align: center;
    font-size: 2.5rem;
    padding: 0rem 3rem 0rem 3rem;
    font-family: 'Garamond Regular';
}

.no-scroll {
    overflow: hidden;
  }
  
.preloader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(235, 213, 200);
    z-index: 50;
  }
  .preloader_hidden {
    display: none;
  }
  .preloader__content {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .preloader__circle {
    position: absolute;
    top: 50%;
    left: 45%;
    border-left: 2rem solid rgb(52, 58, 50);
    border-right: 2rem solid rgb(52, 58, 50);
    border-top: 2rem solid rgb(52, 58, 50);
    border-bottom: 2rem solid rgb(52, 58, 50);
    transform: translate(-50%, -50%);
    animation: square 1s infinite alternate-reverse;
  }
  @media (max-width: 450px) {
    .preloader__circle {
      border-left: 1rem solid rgb(52, 58, 50);
      border-right: 1rem solid rgb(52, 58, 50);
      border-top: 1rem solid rgb(52, 58, 50);
      border-bottom: 1rem solid rgb(52, 58, 50);
    }
  }
  
  @keyframes square {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
      left: 45%;
      top: 50%;
    }
    25% {
      transform: translate(-50%, -50%) rotate(45deg);
      left: 48%;
      top: 47%;
    }
    50% {
      transform: translate(-50%, -50%) rotate(90deg);
      left: 51%;
      top: 50%;
    }
    75% {
      transform: translate(-50%, -50%) rotate(135deg);
      left: 54%;
      top: 47%;
    }
    100% {
      transform: translate(0%, -50%) rotate(180deg);
      left: 57%;
      top: 50%;
    }
  }

@media (max-width: 450px) {
    .preloader__circle {
      border-left: 1rem solid rgb(52, 58, 50);
      border-right: 1rem solid rgb(52, 58, 50);
      border-top: 1rem solid rgb(52, 58, 50);
      border-bottom: 1rem solid rgb(52, 58, 50);
    }
  }